.card {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition:
      transform 150ms ease,
      box-shadow 100ms ease;
    padding: var(--mantine-spacing-xs);
    padding-left: calc(var(--mantine-spacing-xl) * 2);
    width: 100%;
    max-width: 800px; /* Set a maximum width for the cards */
    margin: 0 auto var(--mantine-spacing-lg) auto; /* Center the cards and add bottom margin */
  
    @mixin hover {
      box-shadow: var(--mantine-shadow-md);
      transform: scale(1.02);
    }
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 6px;
      background: linear-gradient(
        to top,
        var(--mantine-color-green-4),
        var(--mantine-color-green-9)
      );
    }
}

.joinButton {
  position: absolute;
  top: 10px;
  right: 10px;
}