.header {
    padding-bottom: var(--mantine-spacing-md);
    margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    align-content: center;
    justify-content: space-between;
    background-color: var(--mantine-color-green-9);
  }
  
  .nav {
    padding-left: var(--mantine-spacing-md);
    margin-left: calc(var(--mantine-spacing-md) * 1.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--mantine-spacing-md);
  }
  
  
  .link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--mantine-font-size-sm);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-5));
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    float: right;
  
    @mixin hover {
      background-color: light-dark(var(--mantine-color-green-0), var(--mantine-color-green-6));
      color: light-dark(var(--mantine-color-black), var(--mantine-color-black));
  
      .linkIcon {
        color: light-dark(var(--mantine-color-black), var(--mantine-color-black));
      }
    }
  
    &[data-active] {
      &,
      &:hover {
        background-color: var(--mantine-color-blue-light);
        color: var(--mantine-color-green-light-color);
  
        .linkIcon {
          color: var(--mantine-color-green-light-color);
        }
      }
    }
  }
  
  .linkIcon {
    color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-dark-5));
    margin-right: var(--mantine-spacing-sm);
    width: 25px;
    height: 25px;
  }

  .avatar {
    margin-top: var(--mantine-spacing-md);
    margin-right: var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-5));


    @mixin hover {
        background-color: light-dark(var(--mantine-color-green-0), var(--mantine-color-green-6));
        color: light-dark(var(--mantine-color-black), var(--mantine-color-black));
    
        .linkIcon {
          color: light-dark(var(--mantine-color-black), var(--mantine-color-black));
        }
      }
    
      &[data-active] {
        &,
        &:hover {
          background-color: var(--mantine-color-green-light);
          color: var(--mantine-color-blue-light-color);
        
          .linkIcon {
            color: var(--mantine-color-blue-light-color);
          }
        }
      }
  }