.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; /* Three columns: left, middle, right */
  gap: var(--mantine-spacing-lg); /* Add space between columns */
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: var(--mantine-spacing-md);
  font-size: 1.5rem; /* Make the text a little smaller */
  font-weight: 600; /* Make the text bold */
  color: var(--mantine-color-dark-1); /* Modern dark color */
}

.divider {
  width: 100%;
  margin-bottom: var(--mantine-spacing-lg);
  border-top: 1px solid var(--mantine-color-dark-5); /* Light gray horizontal line */
}